<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <h1>Yeh html nahi babu yeh ejs hai !!!!!!!!</h1>
       <p>
        Hello ejs kaise ho , khaana khaake jaana
       </p>

       <!-- in ejs we can write javascript as well -->
</body>
</html>